<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Register</title>
    <link rel="shortcut icon" href="{% static 'dashboard/images/icon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'dashboard/images/icon/favicon.ico' %}" type="image/x-icon">
    <!-- Fontfaces CSS-->
    <link href="{% static 'dashboard/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'dashboard/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'dashboard/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'dashboard/vendor/vector-map/jqvmap.min.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'dashboard/css/theme.css' %}" rel="stylesheet" media="all">

</head>
<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="{% static 'dashboard/images/icon/logo-full-medium.png' %}" style="height: 78px" alt="VPM">
                            </a>
                        </div>
                        <div class="login-form">
                            <form class="form-text" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p class="acc_content">
                            {{ field.label_tag }}<br>
                            <div class="au-input au-input--full">{{ field }} </div>
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}
                            {% endfor %}
                          </p>
                        {% endfor %}
                                <br>
                        <button class="au-btn au-btn--block au-btn--blue2 m-b-20" type="submit">Sign up</button>
                      </form>
                            <div class="register-link">
                                <p>
                                    Already have account?
                                    <a href="{%  url 'dashboard:login' %}">Login In</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Jquery JS-->
    <script src="{% static 'dashboard/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'dashboard/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'dashboard/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'dashboard/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'dashboard/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'dashboard/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'dashboard/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/select2/select2.min.js' %}">
    </script>
    <script src="{% static 'dashboard/vendor/vector-map/jquery.vmap.js' %}"></script>
    <script src="{% static 'dashboard/vendor/vector-map/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/vector-map/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'dashboard/vendor/vector-map/jquery.vmap.world.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'dashboard/js/main.js' %}"></script>

</body>

</html>
